/* Grundlayout */
body {
    margin: 0;
    font-family: Times, regular,
}

/* Header */
header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    margin: 0;
    color: red;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Navigation */
nav {
    display: flex;
    gap: 5rem;          /* Abstand zwischen den Menüpunkten */
    margin-left: 8rem; /* Abstand vom Logo */
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: red;
}

/* Roter Balken */
.red-bar {
    width: 100%;
    height: 5px;
    background-color: red;
}

/* Hauptinhalt */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

main p,
main address {
    max-width: 700px;
    text-align: center;
    margin: 0.5rem 0;
    font-style: normal;
}

main a {
    display: block;
    margin: 20px 0;
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

main a:hover {
    color: red;
}

/* Ausstellungshighlight */
.highlight {
    font-weight: bold;
    font-size: 1.5rem;
    color: red;
    text-align: center;
}

/* Newsletter */
.newsletter {
    margin-top: 40px;
    text-align: center;
}

.newsletter form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.newsletter input,
.newsletter button {
    padding: 8px;
    font-size: 1rem;
}
